# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# OS files
.DS_Store

# IDE files
.idea/
.vscode/

# misc
__MACOSX/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build
dist/
build/